<div id="modal" class="modal">
  <article class="modal-content">
    <span class="modal-x hide-modal">&times;</span>
    <h3>Permanently Delete Ad</h3>
    <p>Are you sure you want to delete this ad <em>forever?</em></p>

    <form action="<%= post.url() + '/destroy' %>" method="post">
      <input type="hidden" name="_method" value="destroy">
      <button class="form-button">Delete this ad</button>
    </form>
  </article>
  <div class="modal-screen hide-modal"></div>
</div>

<article class="post clearfix">
  <h2 class="post-title"><%= post.escape('title') %></h2>

  <% if (images && images.length > 0) { %>
    <div class="post-images">
      <img src="<%= images[0] %>" id="post-image">
      <ul class="post-thumbnails">
        <% _(images).each(function(url) { %>
          <li><img src="<%= _.escape(url) %>"></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

  <section class="post-info">
    <div id="map"></div>

    <script type="text/javascript">
      var geocoder = L.mapbox.geocoder('redacted.ikmmj3gd'),
          map = L.mapbox.map('map', 'redacted.ikmmj3gd');

      var showMap = function(err, data) {
        if (data.latlng) {
          map.setView([data.latlng[0], data.latlng[1]], 13);

          L.mapbox.featureLayer({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [
                data.latlng[1],
                data.latlng[0]
              ]
            }
          }).addTo(map);
        }
      }

      geocoder.query('<%= post.escape('location') %>', showMap);
    </script>

    <ul>
      <li class="post-price"><%= post.escape('price') %></li>
      <li><%= post.escape('location') %></li>
    </ul>
  </section>

  <section class="post-description">
    <%= post.escape('description') %>
  </section>

  <footer class="post-footer">
    <ul class="post-timestamp">
      <li>created
        <abbr class="timeago" title="<%= post.escape('created_at') %>">
          <%= post.escape('created_at') %>
        </abbr>
      </li>

      <li>updated
        <abbr class="timeago" title="<%= post.escape('created_at') %>">
          <%= post.escape('updated_at') %>
        </abbr>
      </li>
    </ul>

    <ul class="post-management">
    <% if (post.can("update")) { %>
      <a href="<%= post.url() + "/edit" %>">edit</a>
    <% } %>

    <% if (post.can("destroy")) { %>
      <a href="#" class="show-modal">delete</a>
    <% } %>
    </ul>
  </footer>
</article>

<script>
  $('.show-modal').on('click', function(event) {
    event.preventDefault();

    $('#modal').toggleClass('is-active');
  });

  $('.hide-modal').on('click', function(event) {
    event.preventDefault();

    $('#modal').toggleClass('is-active');
  });
</script>
