<% action = (post.persisted?) ? post_url(post) : posts_url %>

<script id="autofill-data" type="application/json">
{
  "post-title": "Awesome Chair",
  "post-price": "19.99",
  "post-address1": "Sleepy Forest Hill",
  "post-city": "Rock Run",
  "post-region": "CT",
  "post-postalcode": "06381-8734",
  "post-description": "This chair is great for sitting!"
}
</script>

<form action="<%= action %>" method="post" enctype="multipart/form-data">
  <% if flash[:errors] %>
    <ul class="form-errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         id="authenticity_token">

  <% if post.persisted? %>
  <input type="hidden" name="_method" value="patch" id="_method">
  <% end %>

  <label for="post-category">category</label>
  <select name="post[category_id]" id="post-category">
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>" <%= "selected" if @post.category == category %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>

  <label  for="post-title">post title</label>
  <input  type="text"
          name="post[title]"
          value="<%= post.title %>"
          id="post-title">

  <label  for="post-price">price</label>
  <input  type="text"
          name="post[price]"
          value="<%= post.price %>"
          id="post-price">

  <label  for="post-address1">Address 1</label>
  <input  type="text"
          name="post[address_1]"
          value="<%= post.address_1 %>"
          id="post-address1">

  <label  for="post-address1">Address 2</label>
  <input  type="text"
          name="post[address_2]"
          value="<%= post.address_2 %>"
          id="post-address2">

  <label  for="post-city">City</label>
  <input  type="text"
          name="post[city]"
          value="<%= post.city %>"
          id="post-city">

  <label  for="post-region">State/Provice/Region</label>
  <input  type="text"
          name="post[region]"
          value="<%= post.region %>"
          id="post-region">

  <label  for="post-postalcode">ZIP/Postal Code</label>
  <input  type="text"
          name="post[postalcode]"
          value="<%= post.postalcode %>"
          id="post-postalcode">

  <label for="post-description">post description</label>
  <textarea name="post[description]" id="post-description"><%= post.description %></textarea>

  <fieldset>
    <legend>images</legend>
    <% @post.images.each do |image| %>
      <input type="hidden" name="images[<%= image.object_id %>][id]" value="<%= image.id %>">
      <% if image.persisted? %>
        <img src="<%= image.url %>" alt="">
        <label for="post-image-destroy">Delete Image?</label>
        <input id="post-image-destroy" type="checkbox" value="1" name="images[<%= image.object_id %>][_destroy]">
      <% else %>
        <input type="file" class="post-image-file" name="images[<%= image.object_id %>][file]">
      <% end %>
    <% end %>
  </fieldset>

  <button class="autofill">Auto Fill</button>
  <button class="submit-button">Post</button>
</form>
