<% action = (post.persisted?) ? post_url(post) : posts_url %>

<form action="<%= action %>" method="post" enctype="multipart/form-data">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         id="authenticity_token">
  
  <% if post.persisted? %>
  <input type="hidden" name="_method" value="patch" id="_method">
  <% end %>

  <label for="post-category">category</label>
  <select name="post[category_id]" id="post-category">
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>" <%= "selected" if @post.category == category %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>

  <label  for="post-title">post title</label>
  <input  type="text"
          name="post[title]"
          value="<%= post.title %>"
          id="post-title">
         
  <label  for="post-price">price</label>
  <input  type="text"
          name="post[price]"
          value="<%= post.price %>"
          id="post-price">
  
  <label  for="post-location">location</label>
  <input  type="text"
          name="post[location]"
          value="<%= post.location %>"
          id="post-location">

  <label for="post-description">post description</label>
  <textarea name="post[description]" id="post-description"></textarea>

  <fieldset>
    <legend>images</legend>
    <% @post.images.each do |image| %>
      <input type="hidden" name="images[<%= image.object_id %>][id]" value="<%= image.id %>">
      <% if image.persisted? %>
        <img src="<%= image.url %>" alt="">
        <label for="post-image-destroy">Delete Image?</label>
        <input id="post-image-destroy" type="checkbox" value="1" name="images[<%= image.object_id %>][_destroy]">
      <% else %>
        <input type="file" name="images[<%= image.object_id %>][file]">
      <% end %>
    <% end %>
  </fieldset>

  <button>Post</button>
</form>
