<tr>
  <td class="post-title-data">
    <%= link_to post.title, post %>
    <span class="post-item-management-links">
        <%= link_to "edit", edit_post_url(post) if can? :update, post %>
        <%= link_to "delete", post_confirm_delete_url(post) if can? :destroy, post %>
    </span>
  </td>

  <td class="post-price-data"><%= number_to_currency(post.price) %></td>
  <td class="post-location-data"><%= post.location %></td>
</tr>
