<article class="post">
  <h2 class="post-title"><%= @post.title %></h2>

  <% @post.images.each do |image| %>
    <img src="<%= image.url %>" alt="">
  <% end %>

  <ul>
    <li><%= number_to_currency(@post.price) %></li>
    <li><%= @post.location %></li>
  </ul>

  <p class="post-description">
    <%= @post.description %>
  </p>

  <footer class="post-footer">
    <ul class="post-timestamp">
      <li>created <%= time_ago_in_words(@post.created_at) %> ago</li>
      <li>updated <%= time_ago_in_words(@post.updated_at) %> ago</li>
    </ul>

    <ul class="post-management">
      <% if can? :update, @post %>
        <li><%= link_to "edit", edit_post_url(@post) %></li>
      <% end %>
    </ul>
  </footer>
</article>
