<article class="post">
  <h2 class="post-title"><%= @post.title %></h2>

  <% if @post.images %>
    <ul class="post-images clearfix">
    <% @post.images.reverse.each do |image| %>
      <li>
        <div class="post-thumbnail">
          <img src="<%= image.file.url(:thumbnail) %>" alt="">
        </div>
        <div class="post-image">
          <img src="<%= image.url %>" alt="">
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>

  <div id="map"></div>

  <script type="text/javascript">
    var geocoder = L.mapbox.geocoder('redacted.ikmmj3gd'),
        map = L.mapbox.map('map', 'redacted.ikmmj3gd');

    var showMap = function(err, data) {
      if (data.latlng) {
        map.setView([data.latlng[0], data.latlng[1]], 13);

        L.mapbox.featureLayer({
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [
              data.latlng[1],
              data.latlng[0]
            ]
          }
        }).addTo(map);
      }
    }

    geocoder.query('<%= @post.location %>', showMap);
  </script>

  <ul>
    <li><%= number_to_currency(@post.price) %></li>
    <li><%= @post.location %></li>
  </ul>

  <p class="post-description">
    <%= @post.description %>
  </p>

  <footer class="post-footer">
    <ul class="post-timestamp">
      <li>created <%= time_ago_in_words(@post.created_at) %> ago</li>
      <li>updated <%= time_ago_in_words(@post.updated_at) %> ago</li>
    </ul>

    <ul class="post-management">
      <% if can? :update, @post %>
        <li><%= link_to "edit", edit_post_url(@post) %></li>
      <% end %>
    </ul>
  </footer>
</article>
