<header>
  <h1><%= t('app_name') %></h1>
  <nav class="clearfix">
    <ul class="nav-list clearfix">
    <% if signed_in? %>
      <li class="nav-item"><%= link_to current_user.username, "#" %></li>
      <li class="nav-item"><%= button_to 'sign out', destroy_user_session_url, method: :delete %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'account', new_user_session_url %></li>
    <% end %>

    <% if can? :create, Post %>
      <li class="nav-item"><%= link_to 'post', new_post_url %></li>
    <% end %>
    </ul>
  </nav>
</header>
