<header>
  <h1><%= t 'app_name' %></h1>
  <p class="site-description"><%= t 'site_description' %></p>
  <nav class="clearfix">
    <ul class="nav-list clearfix">
      <li class="nav-item"><%= link_to 'categories', root_url %></li>
    <% if signed_in? %>
      <li class="nav-item"><%= link_to current_user.username, edit_user_registration_url %></li>
      <li class="nav-item"><%= link_to "manage ads", manage_posts_url %></li>
      <% if can? :create, Post %>
        <li class="nav-item"><%= link_to 'post ad', new_post_url %></li>
      <% end %>
      <li class="nav-item"><%= button_to 'sign out', destroy_user_session_url, method: :delete %></li>
    <% end %>

    <% unless signed_in? %>
      <li class="nav-item"><%= link_to 'account', new_user_session_url %></li>
    <% end %>

    </ul>
  </nav>
</header>
